body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: bisque;
}
.container {
    margin: 50px auto;
    width: 600px;
}
h1 {
    background-color:coral;
    color: #131212;
    padding: 10px;
}
#input-unit, #output-unit {
    margin: 10px 0;
}
#result {
    font-weight: bold;
}